<div class="container mt-4">
  <h1 class="text-center mb-4">日本咨询业界分析</h1>
  
  <!-- 新的布局结构，左右分栏 -->
  <div class="row">
    <!-- 左侧导航按钮 -->
    <div class="col-md-3 mb-4">
      <div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
        <%= link_to '战略咨询', consult_field_strategy_consult_path, class: 'btn btn-outline-success btn-lg mb-2' %>
        <%= link_to 'IT咨询', consult_field_it_consult_path, class: 'btn btn-outline-success btn-lg mb-2' %>
        <%= link_to '人事&组织咨询', consult_field_personnel_consult_path, class: 'btn btn-outline-success btn-lg mb-2' %>
        <%= link_to '财务咨询', consult_field_finance_consult_path, class: 'btn btn-outline-success btn-lg mb-2' %>
        <%= link_to '风险咨询', consult_field_risk_consult_path, class: 'btn btn-outline-success btn-lg mb-2' %>
      </div>
    </div>
    
    <!-- 右侧主内容 -->
    <div class="col-md-9">
      <div class="card shadow">
        <div class="card-body">

        
          <h3 class="mb-3">职种 vs 业务领域的分类总结</h3>
          <div class="table-responsive">
            <table class="table table-bordered text-center">
              <thead class="thead-light">
                <tr>
                  <th>分类方式</th>
                  <th>例子</th>
                  <th>特征</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">按职能分类（ファンクション）</th>
                  <td>戦略 / IT / 人事 / 財務 / リスク 等</td>
                  <td>根据提供“哪类服务手段”划分</td>
                </tr>
                <tr>
                  <th scope="row">按业务领域分类（ドメイン）</th>
                  <td>金融コンサル / 製造業コンサル / 公共コンサル 等</td>
                  <td>面向“哪个行业/产业”服务</td>
                </tr>
                <tr>
                  <th scope="row">按主题分类（トピック）</th>
                  <td>M&Aコンサル / サステナビリティコンサル 等</td>
                  <td>面向“什么议题/战略课题”服务</td>
                </tr>
                <tr>
                  <th scope="row">泛称/统称</th>
                  <td>経営コンサルタント</td>
                  <td>整体称呼，有时包含多种职能的组合体</td>
                </tr>
                <p>在咨询业界的分析中，我会对咨询业界的以职能为分类的各个职种进行分析。</p>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



    <div class="text-center mt-4">
      <%= link_to '返回业界分析首页', job_field_path, class: 'btn btn-secondary' %>
    </div>
    
  </div> <!-- End row -->
</div>
