<div class="container mt-4">
  <h1 class="text-center mb-4">日本就职情报收集指南</h1>
  
  <!-- 导航按钮 -->
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="btn-group w-100 flex-wrap" role="group">
        <%= link_to '外資就活', info_collection_foreign_company_path, class: 'btn btn-outline-success btn-lg m-1' %>
        <%= link_to 'リクナビ', info_collection_rikunavi_path, class: 'btn btn-outline-success btn-lg m-1' %>
        <%= link_to 'オープンワーク', info_collection_openwork_path, class: 'btn btn-outline-success btn-lg m-1' %>
        <%= link_to 'ワンキャリア', info_collection_onecareer_path, class: 'btn btn-outline-success btn-lg m-1' %>
        <%= link_to 'マイナビ', info_collection_mynavi_path, class: 'btn btn-outline-success btn-lg m-1' %>
        <%= link_to 'ソーシャルメディア', info_collection_social_media_path, class: 'btn btn-outline-success btn-lg m-1' %>
        <%= link_to 'NPO組織', info_collection_npo_path, class: 'btn btn-outline-success btn-lg m-1' %>
      </div>
    </div>
  </div>
  
  <!-- 情报收集综述 -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">情报收集综述</h2>
          
          <p>在日本就职过程中，高效的情报收集能大幅提高求职成功率。以下是日本求职中常用的信息渠道：</p>
          
          <div class="info-section mt-4">
            <div class="info-category">
              <h4>就职平台</h4>
              <p>日本有多种专业的就职平台，如リクナビ（Rikunavi）和外资就活等，很多公司会将自己公司的投递渠道放在这些就职平台上。</p>
              <p>另外一些就职平台是专注于实习的平台，例如マイナビ（Mynavi），在这个平台你可以找到许多公司的短期实习（通过这些实习你可以了解整个业界以及这家公司）。</p>
              <p>注意：以上的就职平台请务必全部一起使用，因为有些公司是只会在一家平台上发布招聘通知，如果只用特定的几个平台的话会导致遗漏。</p>
            </div>
            
            <div class="info-category">
              <h4>口碑和评价平台</h4>
              <p>オープンワーク（OpenWork）提供员工对企业的真实评价，包括工作环境、薪资、加班情况等，这些信息也是企业研究中非常重要的一部分）。ワンキャリア（OneCareer）则提供面试经验和ES范例。</p>
              <p>ワンキャリア（OneCareer）提供企业的具体的选考流程以及往届学生的选考经验。</p>
            </div>
            
            <div class="info-category">
              <h4>社交媒体</h4>
              <p>Twitter、LinkedIn等社交媒体平台上，可以关注企业官方账号、行业专家和招聘信息。许多企业也会在社交媒体上发布招聘信息和企业文化展示。</p>
              <p>另外，小红书也是一个非常重要的社交媒体。因为在小红书上分享自己的就活经验的前辈们都和我们一样，是来自中国的留学生，可以说他们的经验是最具有参考意义的。</p>
              <p>在ソーシャルメディア这个部分，我将具体讲述“如何让小红书成为自己就职的神器”。</p>
            </div>
            
            <div class="info-category">
              <h4>NPO组织</h4>
              <p>一些非营利组织专门为留学生和外国人提供就职支持，包括简历修改、模拟面试和就职辅导等服务。</p>
            </div>
          </div>
          
          <div class="alert alert-success mt-4">
            <p><strong>情报收集是贯穿在整个就职过程中的。</strong></p>
            <p>确定公司，提交es，考网测，gd面试（如果有的话），个人面试，这些所有的步骤都离不开情报收集。</p>
            <p>确定公司时：你需要公司的情报。</p>
            <p>提交es时：你需要知道提交es的ddl。</p>
            <p>考网测时：你需要知道网测的类型。</p>
            <p>gd面试时：你需要知道gd面试的流程。</p>
            <p>个人面试就更不必说了，如果不对这家公司做企业研究的话那么你很可能被面试官怀疑你的志望理由。</p>

          </div>
          
          <div class="text-center mt-4">
            <%= link_to '返回首页', root_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>