<div class="container mt-4">
  <h1 class="text-center mb-4">日本IT业界分析</h1>
  
  <!-- 新的布局结构，左右分栏 -->
  <div class="row">
    <!-- 左侧导航按钮 -->
    <div class="col-md-3 mb-4">
      <div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
        <%= link_to 'ITCon&Sier', it_field_con_sier_path, class: 'btn btn-outline-success btn-lg mb-2' %>
        <%= link_to 'Web系IT', it_field_web_it_path, class: 'btn btn-outline-success btn-lg mb-2' %>
        <%= link_to '选考笔记：文系IT & 理系IT', it_field_arts_science_path, class: 'btn btn-outline-success btn-lg mb-2' %>
        <%= link_to '选考笔记：Web系IT企业 & SIer企业 & ITCon企业', it_field_web_sier_path, class: 'btn btn-outline-success btn-lg mb-2' %>
        <%= link_to '业界调查：文系IT企业&理系IT企业的薪资对比', it_field_salary_compare_path, class: 'btn btn-outline-success btn-lg mb-2' %>
        <%= link_to '业界调查：IT证书是否有用', it_field_certificate_path, class: 'btn btn-outline-success btn-lg mb-2' %>
      </div>
    </div>
    
    <!-- 右侧主内容 -->
    <div class="col-md-9">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title mb-4">我对日本IT业界的分析</h2>
          
          <p>在入学后的一年，我断断续续地做了日本文系IT以及理系IT的业界调查（这也是因为一开始我专注于文系IT的选考，再后来我转型开始了理系IT的选考）。</p>
          <p>你可能很疑惑为什么日本IT还分文系和理系，在本站的其他地方你可能也一直在听我说这两个词。</p>
          <p>更有可能的是，你肯定也听说过日本文科生也能干IT。</p>
          <p>在你的大脑一片混乱（当时我的大脑也是一片混乱）时，你可以点击左边的按钮来查看我对日本IT业界的调查，你一定会找到自己的答案。</p>
          
          
        </div>
      </div>
    </div>


    <div class="text-center mt-4">
      <%= link_to '返回业界分析首页', job_field_path, class: 'btn btn-secondary' %>
    </div>
    
  </div> <!-- End row -->
</div>
